
HW1/.vs/Ex1/v15/Solution.VC.db-wal
HW1/.vs/Ex1/v15/Solution.VC.db-shm
HW1/.vs/Ex1/v15/Solution.VC.db
HW1/.vs/Ex1/v15/ipch/AutoPCH/d215f35da476c132/MAIN.ipch
HW1/.vs/Ex1/v15/ipch/AutoPCH/774dc8d938611365/SON_FUNCTIONS.ipch
HW1/.vs/Ex1/v15/ipch/AutoPCH/5bef5221c952363c/MAIN.ipch
HW1/.vs/Ex1/v15/Browse.VC.opendb
HW1/.vs/Ex1/v15/Browse.VC.db
HW1/.vs/Ex1/v15/.suo
HW1/Son/x64/Debug/vc141.idb
HW1/Son/x64/Debug/Son_functions.obj
HW1/Son/x64/Debug/Son.tlog/Son.lastbuildstate
HW1/Son/x64/Debug/Son.tlog/link.write.1.tlog
HW1/Son/x64/Debug/Son.tlog/link.read.1.tlog
HW1/Son/x64/Debug/Son.tlog/link.command.1.tlog
HW1/Son/x64/Debug/Son.tlog/CL.write.1.tlog
HW1/Son/x64/Debug/Son.tlog/CL.read.1.tlog
HW1/Son/x64/Debug/Son.tlog/CL.command.1.tlog
HW1/Son/x64/Debug/Son.log
HW1/Son/x64/Debug/main.obj
HW1/Son/x64/Debug/vc141.pdb
HW1/x64/Debug/Son.exe
HW1/x64/Debug/Son.ilk
HW1/x64/Debug/Son.pdb
HW1/.vs/Ex1/v15/ipch/AutoPCH/438c95e78bd08866/PROCESS_FUNCS.ipch
HW1/.vs/Ex1/v15/ipch/AutoPCH/43a45fe78be4be85/PROCESS_FUNCS.ipch
HW1/.vs/Ex1/v15/ipch/AutoPCH/4821766b9e05bcc1/PARSER_FUNCS.ipch
HW1/.vs/Ex1/v15/ipch/AutoPCH/4d41e992756aea15/FATHER_FUNCTIONS.ipch
HW1/.vs/Ex1/v15/ipch/AutoPCH/67af14ee6c1fd7ab/PROCESS_HANDLER.ipch
HW1/.vs/Ex1/v15/ipch/AutoPCH/a30e6639be66db7e/MATH_EXP_PARSER.ipch
HW1/Father/x64/Debug/Father.log
HW1/Father/x64/Debug/Father.tlog/CL.command.1.tlog
HW1/Father/x64/Debug/Father.tlog/CL.read.1.tlog
HW1/Father/x64/Debug/Father.tlog/CL.write.1.tlog
HW1/Father/x64/Debug/Father.tlog/Father.lastbuildstate
HW1/Father/x64/Debug/Father.tlog/link.command.1.tlog
HW1/Father/x64/Debug/Father.tlog/link.read.1.tlog
HW1/Father/x64/Debug/Father.tlog/link.write.1.tlog
HW1/Father/x64/Debug/Father.tlog/unsuccessfulbuild
HW1/Father/x64/Debug/Father_functions.obj
HW1/Father/x64/Debug/main.obj
HW1/Father/x64/Debug/process_funcs.obj
HW1/Father/x64/Debug/process_handler.obj
HW1/Father/x64/Debug/vc141.idb
HW1/Father/x64/Debug/vc141.pdb
HW1/x64/Debug/Father.exe
HW1/x64/Debug/Father.ilk
HW1/x64/Debug/Father.pdb
*.ipch
*.obj
*.log
HW1/Son/x64/Debug/Son.tlog/unsuccessfulbuild
HW1/Father/Computation.txt
